/* 헤드라인 */
.head-line {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.head-line svg {
    width: 400px;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    left: 20px;
}

.search-icon {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    left: 60px;
    transition: color 0.3s;
}

.search-icon:hover {
    color: #007bff;
}

.search-bar {
    display: none;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: width 0.3s, opacity 0.3s;
    opacity: 0;
    width: 0;
}

.search-bar input {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px 0 0 30px;
    outline: none;
    width: 200px;
}

.search-bar button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
}

.search-bar button:hover {
    background: #0056b3;
}

.search-bar.show {
    display: flex;
    opacity: 1;
    width: auto;
    max-width: 350px; /* Increased max-width */
    transition: width 0.3s, opacity 0.3s;
}

/* 사이드바 */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar .close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar .menus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .menus button {
    border: none;
    background: none;
    margin: 10px 0;
}

.sidebar .menus button:hover {
    background-color: black;
    color: white;
}

/* 메인 메뉴 */
.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}

.menus button {
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover {
    background-color: beige;
}

/* 뉴스 기사 */
.news-img-size {
    max-width: 100%;
    max-height: 250px;
}

.news {
    border-bottom: 2px solid black;
}

/* 모바일 화면에서 햄버거 메뉴 보이기 */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .search-bar {
        display: none;
    }

    #main-menus {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .search {
        display: flex !important;
    }
}
